.poke-detail {
     width: 80vmin;
     /*border: 1px lightgrey solid;
     border-radius: 5px;*/
     float: left;
     padding: 5px;
 }

.poke-detail h3 {
    text-align: center;
}
.poke-detail img {
    text-align: center;
}

.poke-detail .info{
    display: block;
}
.taglist {
    display: inline;
    list-style: none;
}

.taglist li {
    display: inline;
}

.taglist li:after {
    content: ", ";
}
.taglist li:last-child:after {
    content: "";
}