.App {
  text-align: left;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  /* height: 5vmin;*/
  height: 25px;
  padding: 0 7px;
  margin-bottom: -1px;
}

.App-header {
  background-color: #bdbdbd; /* #282c34; */
  min-height: 5px; /* 5vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  margin: 3px 10px;
}

.App-header span {
  margin: -10px 0 0 0;
  font-weight: bold;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
