.poke-list {
    /*width: 20vmin;*/ /*250px;*/
    border: 1px lightgrey solid;
    border-radius: 5px;
    float:left;
}

.poke-list .prev {
    float: left;
}

.poke-list .next {
    float: right;
}

.poke-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.poke-list li {
    list-style: none;
}

.poke-list li div {
    width: 100px;
    height: 100px;
    border: 1px lightgrey solid;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}